Desafío 1 - Elección de Potenciales Datasets e Importación a Librería:

Consigna:


-Identificar 3 datasets que cumplan con las siguientes condiciones: a) al menos 2000 filas y b) al menos 15 columnas. 

-Pueden buscar en las siguientes fuentes: GitLab, Github, Kaggle, Google Dataset Search (Si desean trabajar con un archivo propio se puede también).

-Describir las variables potencialmente interesantes en cada archivo teniendo en cuenta el contexto comercial y analitico involucrado

In [10]:
#Imports Basicos
import pandas as pd

A) DataSet para Predicción de aprobación de tarjetas de crédito:

Fuente:https://www.kaggle.com/datasets/rikdifos/credit-card-approval-prediction

DataSets:

Tiene dos tablas que pueden ser combinadas por ID

URL de los dataSets

https://github.com/mizaelmorales/Proyecto_Final_DataScience/tree/main/DataSets/Prediccion_de_aprobacion_de_tarjetas_de_credito


Contexto:

Las tarjetas de puntuación de crédito son un método común de control de riesgos en la industria financiera. Utiliza la información personal y los datos presentados por los solicitantes de tarjetas de crédito para predecir la probabilidad de futuros incumplimientos y préstamos de tarjetas de crédito. El banco puede decidir si emite una tarjeta de crédito al solicitante. Los puntajes de crédito pueden cuantificar objetivamente la magnitud del riesgo.
 

Descripcion y Objetivo:

En términos generales, las tarjetas de puntuación de crédito se basan en datos históricos. Una vez que se encuentra con grandes fluctuaciones económicas deben aplicarse modelos que puedan aumentar su poder predictivo.

en este data set a diferencia de otras tareas se tienes varios retos : no se proporciona la definición de "bueno" o "malo" por lo cual Debe usar alguna técnica, como el análisis vintage para construir su etiqueta. Además, el problema de desequilibrio de datos es un gran reto en esta tarea, el objetivo es lograr predecir si un cliente es bueno o malo para optar para una tarjeta de credito.

In [11]:
#Validaciones Previas del dataSet

url_Prediccion_Aprobacion_TDC_Application_Record = 'https://raw.githubusercontent.com/mizaelmorales/Proyecto_Final_DataScience/main/DataSets/Prediccion_de_aprobacion_de_tarjetas_de_credito/application_record.csv'
url_Prediccion_Aprobacion_TDC_Credit_Record = 'https://raw.githubusercontent.com/mizaelmorales/Proyecto_Final_DataScience/main/DataSets/Prediccion_de_aprobacion_de_tarjetas_de_credito/credit_record.csv'
application_Record = pd.read_csv(url_Prediccion_Aprobacion_TDC_Application_Record)
Credit_Record = pd.read_csv(url_Prediccion_Aprobacion_TDC_Credit_Record) 

#Union
df_Prediccion_Aprobacion_TDC = application_Record.merge(Credit_Record, on=['ID'], how='inner')
#Limpieza
df_Prediccion_Aprobacion_TDC.drop(['ID'],inplace=True,axis=1)

In [12]:
#Duplicados
df_Prediccion_Aprobacion_TDC.duplicated().sum()

308790

In [13]:
#Duplicados Limpieza
df_Prediccion_Aprobacion_TDC.drop_duplicates(inplace=True)

In [ ]:
#Lista de columnas
df_Prediccion_Aprobacion_TDC.columns.to_list()

In [14]:
#Info
df_Prediccion_Aprobacion_TDC.info()

<class 'pandas.core.frame.DataFrame'>
Index: 468925 entries, 0 to 777714
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CODE_GENDER          468925 non-null  object
 1   FLAG_OWN_CAR         468925 non-null  object
 2   FLAG_OWN_REALTY      468925 non-null  object
 3   CNT_CHILDREN         468925 non-null  int64
 4   AMT_INCOME_TOTAL     468925 non-null  float64
 5   NAME_INCOME_TYPE     468925 non-null  object
 6   NAME_EDUCATION_TYPE  468925 non-null  object
 7   NAME_FAMILY_STATUS   468925 non-null  object
 8   NAME_HOUSING_TYPE    468925 non-null  object
 9   DAYS_BIRTH           468925 non-null  int64
 10  DAYS_EMPLOYED        468925 non-null  int64
 11  FLAG_MOBIL           468925 non-null  int64
 12  FLAG_WORK_PHONE      468925 non-null  int64
 13  FLAG_PHONE           468925 non-null  int64
 14  FLAG_EMAIL           468925 non-null  int64
 15  OCCUPATION_TYPE      324119 non-null  object
 16  CNT_FAM_MEMBERS      468925 non-null  float64
 17  MONTHS_BALANCE       468925 non-null  int64
 18  STATUS               468925 non-null  object
dtypes: float64(2), int64(8), object(9)
memory usage: 71.6+ MB

In [ ]:
#Vista Previa
df_Prediccion_Aprobacion_TDC.head()

In [15]:
#Describe
df_Prediccion_Aprobacion_TDC.describe()

,CNT_CHILDREN,AMT_INCOME_TOTAL,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,MONTHS_BALANCE
count,468925.000000,4.689250e+05,468925.000000,468925.000000,468925.0,468925.000000,468925.000000,468925.000000,468925.000000,468925.000000
mean,0.421415,1.858502e+05,-16158.295521,60224.031389,1.0,0.225379,0.297472,0.089230,2.197081,-20.979513
std,0.747775,1.009916e+05,4130.224148,138588.126971,0.0,0.417832,0.457146,0.285075,0.910155,14.680523
min,0.000000,2.700000e+04,-25152.000000,-15713.000000,1.0,0.000000,0.000000,0.000000,1.000000,-60.000000
25%,0.000000,1.215000e+05,-19584.000000,-3246.000000,1.0,0.000000,0.000000,0.000000,2.000000,-32.000000
50%,0.000000,1.575000e+05,-15812.000000,-1610.000000,1.0,0.000000,0.000000,0.000000,2.000000,-19.000000
75%,1.000000,2.250000e+05,-12724.000000,-398.000000,1.0,0.000000,1.000000,0.000000,3.000000,-8.000000
max,19.000000,1.575000e+06,-7489.000000,365243.000000,1.0,1.000000,1.000000,1.000000,20.000000,0.000000

In [16]:
#Validacion de nulls
df_Prediccion_Aprobacion_TDC.isna().sum()

CODE_GENDER                 0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
AMT_INCOME_TOTAL            0
NAME_INCOME_TYPE            0
NAME_EDUCATION_TYPE         0
NAME_FAMILY_STATUS          0
NAME_HOUSING_TYPE           0
DAYS_BIRTH                  0
DAYS_EMPLOYED               0
FLAG_MOBIL                  0
FLAG_WORK_PHONE             0
FLAG_PHONE                  0
FLAG_EMAIL                  0
OCCUPATION_TYPE        144806
CNT_FAM_MEMBERS             0
MONTHS_BALANCE              0
STATUS                      0
dtype: int64

B)DataSet Ventas de videojuegos con calificaciones:

Fuente:https://www.kaggle.com/datasets/rush4ratio/video-game-sales-with-ratings

DataSet:   

https://github.com/mizaelmorales/Proyecto_Final_DataScience/tree/main/DataSets/Ventas_de_videojuegos_con_calificaciones

Contexto:

Este conjunto de datos contiene una lista de videojuegos con ventas superiores a 100.000 copias motivado por el raspado web de Gregory Smith de VGChartz Video Games Sales , este conjunto de datos simplemente amplía el número de variables con otro raspado web de Metacritic . Desafortunadamente, faltan observaciones ya que Metacritic solo cubre un subconjunto de las plataformas. Además, es posible que un juego no tenga todas las observaciones de las variables adicionales que se analizan a continuación.


Descripcion y Objetivo:

En términos generales en este data set se podrian realizar 2 tipos de modelos uno de prediccion de ventas como tambien un sistema de recomendaciones.

In [18]:
url_video_games = 'https://raw.githubusercontent.com/mizaelmorales/Proyecto_Final_DataScience/main/DataSets/Ventas_de_videojuegos_con_calificaciones/Video_Games_Sales_as_at_22_Dec_2016.csv'
df_video_games = pd.read_csv(url_video_games)

In [20]:
#Duplicados
df_video_games.duplicated().sum()

0

In [21]:
#Lista de columnas
df_video_games.columns.to_list()

['Name',
 'Platform',
 'Year_of_Release',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales',
 'Critic_Score',
 'Critic_Count',
 'User_Score',
 'User_Count',
 'Developer',
 'Rating']

In [22]:
#Info
df_video_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [25]:
#Vista Previa
df_Prediccion_Aprobacion_TDC.head()

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,MONTHS_BALANCE,STATUS
0,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,0,C
1,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,-1,C
2,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,-2,C
3,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,-3,C
4,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,-4,C

In [23]:
#Describe
df_video_games.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [24]:
#Validacion de nulls
df_video_games.isna().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64